extends layout

block content
    #mainarea.row
      #left-pane.col-sm-4
        #image-contain
          .form-group
            label(for='itemimgurl') Item Image
            input#itemimgurl.form-control(type='text')
            p.help-block Paste the URL of the image you'd like to use!
      #right-pane.col-sm-8
        #itemname.row
          .form-group
            label(for='itemnameinput') Item Name
            input#itemnameinput.form-control(type='text')
        #itemdesc.row
          .form-group
            label(for='itemdescinput') Item Description
            input#itemdescinput.form-control(type='text')
        #itemprice.row
          .form-group
            label(for='itempriceinput') Item Price
            input#itempriceinput.form-control(type='number')
        #itemsubmit.row
          .form-group
            button#senditem.btn.btn-default(type='submit') Add Item!
