extends layout

block content
#listall.row
  table#currentitems
    tr.row-header
      th.col-name Item Name
      th.col-description Item Description
      th.col-price Price
    tr.row
      td.col-name
      td.col-description
      td.col-price
