extends layout

block content
#mainarea.row
  #left-pane.col-sm-4
    #image-contain
      img#itemimage(src='', alt='')
  #right-pane.col-sm-8
    #itemname.row
      h3
    #itemdesc.row
      p
    #itemprice.row
      p
