extends layout

block content
  #mainarea.row
    #left-pane.col-sm-4
      #image-contain
        img#itemimage(src= item.image, alt='')
    #right-pane.col-sm-8
      #itemname.row
        h3= 'Name: ' + item.name
      #itemdesc.row
        p= 'Description: ' + item.description
      #itemprice.row
        p= 'Price: ' + item.price
      #itemeditlink.row.text-right
        ul#options
          li
            a(href='/items/edit/'+item._id) Edit Item
          li
            a(href='#', data-id= item._id)#deleteItem Delete Item
      
