<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Insurance Audit Assist</title>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="main.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container-fluid">
    <div class="row" id="topspacer">
      <div class="row" id="maincontainer">
        <div class="col-sm-3" id="left-panel">
          <ul id="nav">
            <li></li>
          </ul>
        </div>
        <div class="col-sm-9" id="content">


          <!-- index partial -->
          <div class="row" id="listall">
            <table id="currentitems">
              <tr class="row-header">
                <th class="col-name">Item Name</th>
                <th class="col-description">Item Description</th>
                <th class="col-price">Price</th>
              </tr>

              <tr class="row">
                <td class="col-name"></td>
                <td class="col-description"></td>
                <td class="col-price"></td>
              </tr>
            </table>
          </div>

          <!-- end index -->

          <!-- view item partial -->
          <div class="row" id="listall">
            <div id="left-pane" class="col-sm-4">
              <div id="image-contain">
                <img src="" id="itemimage" alt="">
              </div>
            </div>
            <div id="right-pane" class="col-sm-8">
              <div id="itemname" class="row">
                <h3></h3>
              </div>
                <div id="itemdesc" class="row">
                  <p></p>
                </div>
                <div id="itemprice" class="row">
                  <p></p>
                </div>
            </div>
          </div>

          <!-- end view item -->




        </div>
      </div>
    </div>
  </div>



</body>
</html>
