body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#itemimage {
  width: 100%;
}

.totals {
  font-weight: bold;
}

#nav li {
  display: block;
  padding-bottom: 8px;
}

#itemeditlink {
  border-top: 1px solid #BFBFBF;
  padding-top: 10px;
}


#options li {
  display: inline-block;
  margin-right: 10px;
}
